import(methods)
import(BiocGenerics)
import(S4Vectors)
importClassesFrom(Streamer, ReadLinesProducer)
importMethodsFrom(Streamer, yield)
importFrom(Streamer, ReadLinesProducer, close.ConnectionProducer)

importFrom(RColorBrewer, brewer.pal, brewer.pal.info)

importMethodsFrom(DBI, dbCommit, dbConnect, dbDisconnect, dbListTables,
	dbListFields, dbGetQuery, dbWriteTable)

importFrom(RSQLite, SQLite)

importMethodsFrom(RSQLite, dbGetPreparedQuery, dbBegin)

importFrom(reshape2, melt,acast)

importFrom(plyr, ddply, summarize)

#importFrom(batch, msplit)

importClassesFrom(IRanges, IRanges)

importFrom(IRanges, as.data.frame, IRanges, end)

importFrom(ggplot2, qplot, aes_string, labs)

exportClasses(BuxcoDB)
export(makeBuxcoDB, annoTable, annoCols, annoLevels, dbName, samples, variables,
	tables, retrieveData, addAnnotation, dbImport, summaryMeasures, retrieveMatrix, tsplot, mvtsplot)

export(day.infer.query, break.type.query, parse.buxco,parse.buxco.basic)

#utilities
export(add.labels.by.sample, adjust.labels, get.err.breaks, proc.sanity)

#paths to sample data
export(sample.db.path, buxco.sample.data.path)
